# Dependencies
node_modules/

# Playwright output
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Environment variables / secrets
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# md files
*.md
